<p id="notice"><%= notice %></p>

<p>
  <b>Nombre:</b>
  <%= @aplicacion.nombre %>
</p>


<%= link_to 'Editar', edit_aplicacion_path(@aplicacion), class:"btn btn-small btn-primary" %> |
<%= link_to 'Atrás', aplicaciones_path, class:"btn btn-small btn-primary" %>
