<h1>Editar registro</h1>

<%= render 'form' %>
<div class="row">
	<div class="span6 offset3">
<%= link_to 'Ver', @registro, class:"btn btn-small btn-primary" %> |
<%= link_to 'Atrás', registros_path, class:"btn btn-small btn-primary" %>
</div>
</div>
